.auth-page {
   text-align: center;
   max-width: 37.5em;
   margin: 0 auto;
   margin-top: 9.375em;
   .btn-reg {
      margin-left: 1.563em;
      &:hover {
         color: #1581b8;
      }
   }
}

@media (max-width: 420px) {
   .row-button-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .btn-login {
      margin-bottom: 15px;
      font-size: 19px;
   }
   .btn-reg {
      font-size: 18px;
      text-align: center;
   }
}
